/* 
    Created on : Aug 12, 2017, 11:19:58 PM
    Author     : nmhillusion
*/
*{
    -fx-font-size: 12px;
    -fx-font-family: Verdana;
}

.scroll-bar, .button, .label#btnAddNew{
    -fx-cursor: hand;
}

.scroll-bar .track{
    -fx-background-color: transparent;
    -fx-border-radius: 5em;
    -fx-background-radius: 5em;
}

.scroll-bar .thumb{
    -fx-background-color: derive(#777, 40%);
    -fx-border-radius: 5em;
    -fx-background-radius: 5em;
    -fx-pref-tile-width: 90px;
}

.scroll-bar .decrement-button, .scroll-bar .increment-button{
    -fx-opacity: 0;
}

.button{
    -fx-background-color: #036;
    -fx-border-color: #36f;
    -fx-border-radius: 3px;
    -fx-padding: 5px;
    -fx-text-fill: #fff;
}
.button:hover{
    -fx-background-color: #36f;
    -fx-effect: dropshadow(gaussian, #36f, 3, 0, 1, 1);
}

.action-bar{
    -fx-padding: 8px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #eee;
    -fx-align: center;
}
.action-bar .button{
    -fx-padding: 10px;
    -fx-pref-width: 100px;
    -fx-align: center;
}

.text{
    -fx-wrap-text: true;
}

#alert-title{
    -fx-padding: 8px;
}

#alert-title .text{
    -fx-font-size: 16px;
}

#alert-header-text .text{
    -fx-font-weight: 800;
    -fx-font-size: 18px;
}

#alert-content-text .text{
    -fx-font-size: 12px;
}

.tab-pane > .tab-header-area > .headers-region, .tab-pane > .tab-header-area > .tab-header-background{
    -fx-background-color: transparent;
    -fx-fill: transparent;
}

/*.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-border-color: #333;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: #359bed;
}*/

.tab-pane .tab-content-area{
    -fx-padding: 10px;
}

.tab-member{
    -fx-cursor: hand;
    -fx-background-color: rgba(240,240,240,0.2);
    -fx-border-width: 2px;
    -fx-border-color: transparent transparent #222 transparent;
}

.tab-member .tab-label .text{
    -fx-fill: #111;
    -fx-font-weight: 700;
}

.tab-member:selected{
    /*-fx-background-color: #eff;*/
    -fx-border-color: transparent transparent #36f transparent;
    -fx-padding: 8px 35px 8px 35px;
}

.tab-member:selected .tab-label .text{
    -fx-fill: #36f;
    -fx-font-weight: 900;
}

.tab-member:selected .focus-indicator{
    -fx-border-color: transparent;
}

.context-menu *{
    -fx-background-color: #333;
    -fx-text-fill: #eff;
    -fx-fill: #eff;
}

.context-menu .menu-item:hover{
    -fx-background-color: #eff;
    -fx-text-fill: #222;
}
.context-menu .menu-item:hover *{
    -fx-background-color: #eff;
    -fx-text-fill: #222;
    -fx-fill: #222;
}


.label#btnAddNew{
    -fx-padding: 20px;
    -fx-text-fill: gray;
    -fx-border-color: gray;
    -fx-border-style: dashed;
    -fx-border-width: 3px;
}
.label#btnAddNew:hover{
    -fx-background-color: #999;
    -fx-text-fill: #eff;
}
.label#btnAddNew .text{
    -fx-font: 20px Verdana;
    -fx-font-weight: 900;
    -fx-alignment: center;
}

.event-item{
    -fx-border-color: gray gray #36f gray;
    -fx-padding: 5px 0px 5px 0px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #eee;
    -fx-cursor: hand;
}
.event-item #timestamp .text{
    -fx-font-size: 10px;
    -fx-font-style: italic;
}
.event-item:hover{
    -fx-background-color: #aaa;
}
.event-item:hover #title .text{
    -fx-font: 20px Verdana;
}

.scroll-pane#listContent{
    -fx-border-color: #36f;
    -fx-border-radius: 4px;
    -fx-border-width: 2px 0 0 0;
}
.scroll-pane .viewport{
    -fx-border-color: transparent;
}

.text-field{
    -fx-background-color: transparent;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #333;
}

.text-field.search{
    -fx-background-image: url("/drawable/searchIcon.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right, top;
}

.text-field:focused{
    -fx-border-color: #00b26b;
    -fx-background-color: rgba(200,200,200,0.3);
}

.jfx-time-picker .text-field, .jfx-date-picker .text-field{
    -fx-border-width: 0;
}

#lbl-login-title{
    -fx-background-color: #359;
    -fx-padding: 10px 20px 10px 20px;
}

#lbl-login-title .text{
    -fx-fill: #eff;
    -fx-font-weight: 800;
    -fx-font-size: 18px;
}

/*                  JFX STYLE                           */
.jfx-snackbar-content{
    -fx-background-color: #333;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, #333, 4, 0, 0,0);
}
.jfx-snackbar-toast{
    -fx-text-fill: yellowgreen;
}

.jfx-popup{
    -fx-background-color: #333;
    -fx-fill: #333;
}

.jfx-popup .button{
    -fx-pref-width: 125px;
    -fx-background-color: 
        linear-gradient(#232323, #343434),
        linear-gradient(#232424 0%, #343535 20%, #454545 100%),
        linear-gradient(#444444 0%, #242424 50%);
    -fx-text-fill: #eff;
}
.jfx-popup .button:hover{
    -fx-background-color: 
        linear-gradient(#359bed, #003366),
        linear-gradient(#356bed 0%, #343535 20%, #454545 100%),
        linear-gradient(#357bbb 0%, #003366 50%);
}

.jfx-date-picker .button, .jfx-time-picker .button{
    -fx-background-color: transparent;
    -fx-text-fill: #333;
    -fx-border-radius: 4px;
    -fx-border-color: transparent;
}

/*                  MAIN SCENE . LEFT BOX               */
.main-scene .left-box{
    -fx-background-color: #222;
    -fx-border-color: #36f;
    -fx-border-width: 0 1px 0 0;
}
.main-scene .left-box{
    -fx-alignment: BASELINE_CENTER;
}
.main-scene .left-box #headBox{
    -fx-padding: 10 0 10 0;
}
.main-scene .left-box #headBox .headBox-item{    
    -fx-alignment: CENTER;
}
.main-scene .left-box #headBox .headBox-item > .label{
    -fx-text-fill: #eff;
}
.main-scene .left-box #headBox .headBox-item > .text-field{
    -fx-min-width: 100px;
    -fx-alignment: center;
    -fx-text-fill: #eff;
    -fx-border-color: #eee;
}

.main-scene .left-box #headBox .headBox-item > .text-field:focused{
    -fx-border-color: green;
    -fx-background-color: rgba(244,244,244,0.2);
}

/*                  MAIN SCENE . RIGHT BOX               */
.main-scene .right-box .title{
    -fx-background-color: #007a4b;
    -fx-text-fill: #eff;
    -fx-alignment: CENTER;
    -fx-padding: 10px;
}

.main-scene .right-box .title .text{
    -fx-font-size: 30px;
    -fx-font-weight: 900;
}

.main-scene .right-box .define{
    -fx-padding: 8px;
}
.main-scene .right-box .define .label .text{
    -fx-font-size: 11px;
    -fx-font-style: italic;
}

.main-scene .right-box .content, .main-scene .right-box .content *{
    -fx-border-color: transparent;
}
.main-scene .right-box .content .viewport{
    -fx-border-color: transparent;
    -fx-background-color: #eafff7;
    -fx-padding: 40px;
    -fx-background-radius: 5px;
}
.main-scene .right-box .content #txtContent{
    -fx-padding: 8px;
    -fx-fill: #111;
    -fx-text-indent: 10px;
}

.main-scene .right-box .introduction .text:odd{
    -fx-font-weight: 800;
    -fx-fill: #f00;
}

/*                      CONTROL SCENE                       */
.control-scene .button, .control-scene .toggle-button{
    -fx-min-height: 55px;
    -fx-pref-width: 250px;
    -fx-alignment: CENTER;
    -fx-font-size: 20px;
    -fx-background-color: #ffe;
    -fx-border-color: #eee;
    -fx-border-radius: 0;
    -fx-padding: 5px;
    -fx-text-fill: #333;
    -fx-background-position: 6%, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40 40;
    -fx-text-alignment: right;
}

.control-scene .button.function, .control-scene .toggle-button.function{
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.control-scene .button.function .text, .control-scene .toggle-button.function .text{
    -fx-fill: black;
    -fx-font-weight: 600;
}

.control-scene .button.function:hover, .control-scene .toggle-button.function:hover{
    -fx-background-color: #333;
}

.control-scene .button.function:hover .text, .control-scene .toggle-button.function:hover .text{
    -fx-fill: #eff;
    -fx-font-weight: 900;
}

.control-scene .toggle-button.function:selected{
    -fx-background-color: #36f;
    -fx-text-fill: #eff;
    -fx-min-height: 70px;
    -fx-scale-x: 1.2;
    -fx-border-radius: 0 3px 3px 0;
    -fx-background-radius: 0 3px 3px 0;
    -fx-background-position: 12%, center;
}

.control-scene .toggle-button.function:selected .text{
    -fx-fill: #eff;
    -fx-font-weight: 800;
}

.control-scene .button#btnBack{
    -fx-min-height: 20px;
    -fx-text-alignment: center;
    -fx-padding: 3px;
    -fx-font-size: 12px;
    -fx-pref-width: 100px;
    -fx-border-radius: 0 50px 50px 0;
    -fx-background-radius: 0 50px 50px 0;
    -fx-background-color: #333;
    -fx-background-position: 6%, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
}
.control-scene .button#btnBack .text{
    -fx-alignment: CENTER;
    -fx-font-weight: 800;
    -fx-fill: #fff;
}

.control-scene .left-box{
    -fx-fill: #007a4b;
    -fx-pref-width: 250px;
    -fx-background-color: #007a4b;
    -fx-effect: dropshadow(gaussian, #333, 4, 0, 2, 0);
}

.control-scene .left-box #copyright{
    -fx-pref-width: 250px;
    -fx-alignment: CENTER;
    -fx-fill: #eff;
    -fx-font-weight: 900;
    -fx-font-size: 15px;
    -fx-effect: dropshadow(gaussian, #222, 3, 0, 0, -2);
}

.control-scene .right-box{
    -fx-alignment: CENTER;
    -fx-background-color: #eafff7;
    -fx-padding: 5px 5px 5px 10px;
    -fx-translate-x: 250;
}

.control-scene .right-box .header{
    -fx-fill: sienna;
    -fx-font-weight: 600;
    -fx-font-style: italic;
    /*-fx-font-size: 20px;*/
    -fx-background-color: gray;
}

.control-scene #overview > .text{
    -fx-font-size: 20px;
    -fx-fill: #f00;
}

/*      MANAGE FRAGMENT     */
.manage-fragment{
    -fx-background-color: #eafff7;
}
.manage-fragment .button{
    -fx-border-style: solid;
    -fx-border-color: #fff;
    -fx-border-radius: 4px;
    -fx-background-color: linear-gradient(#efe 0%, #eee 50%, #efe 100%);
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(gaussian, #333, 3, 0,0,0);
    -fx-min-height: 0px;
    -fx-padding: 5px;
}

.manage-fragment .button:hover{
    -fx-background-color: linear-gradient(#456 0%, #345 50%, #456 100%);
    -fx-text-fill: #eff;
}

.manage-fragment .jfx-snackbar-content .button{
    -fx-padding: 0;
    -fx-pref-width: 50px;
    -fx-pref-height: 20px;
    -fx-min-height: 0px;
}

.table-import{
    -fx-grid-lines-visible: true;
}

/*      IO VIEW     */
.io-view{
    -fx-padding: 10px;
}

.io-view #lblTitle{
    -fx-background-color: #222;
    -fx-padding: 10px;
}

.io-view #lblTitle .text{
    -fx-font-size: 18px;
    -fx-fill: #eff;
    -fx-font-weight: 900;
}

.io-view .input-path-file{
    -fx-pref-width: 200px;
    -fx-border-radius: 5px;
}

.io-view .button#btnImport{
    -fx-pref-width: 200px;
    -fx-background-color: goldenrod;
    -fx-border-color: orange;
}

/*      STATISTIC       */
.statisc-pane .toggle-button{
    -fx-padding: 10px;
    -fx-min-height: 0;
    -fx-text-fill: #111;
    -fx-background-color: linear-gradient(#aaa 0%, #bbb 50%, #ccc 100%);
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
.statisc-pane .toggle-button:hover{
    -fx-background-color: #666;
    -fx-text-fill: #fff;
}
.statisc-pane .toggle-button:selected{
    -fx-background-color: #234;
    -fx-padding: 15px;
    -fx-text-fill: #fff;
}

.lbstalv1 .text{
    -fx-font-size: 20px;
}
.lbstalv2 .text{
    -fx-font-size: 10px;
}

.sta-vb-style{
    -fx-border-color: gray;
    -fx-border-insets: 5;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-padding: 5;
}

.button-statistic-style:selected{ 
    -fx-border-color: black;
    -fx-background-color: #242424;
    -fx-text-fill: white;
}

.bordertab{
    /*-fx-border-color: black;*/
    -fx-border-radius: 5px;
}

#tengv{
    -fx-font-size: 18px;
}

#tieude{
    -fx-font-size: 30;
    -fx-alignment: CENTER;
}

.overview .text{
    -fx-font-size: 20px;
}